/*
Theme Name: сlevercourse
Theme URI: #
Description: сlevercourse main theme
Author: Vitaliy Goolko
Author URI: #
Version: 1.0
*/

*{
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 1300px) {
    .container-thin { padding: 0 10%; }
}
@media screen and (min-width: 1000px) and (max-width: 1299px) {
    .container-thin { padding: 0 5%; }
}
@media screen and (min-width: 768px) {
    .pull-right-sm { float: right; }
    .pull-left-sm { float: left; }
    .signin::before {
        content: "•";
        margin-right: 20px;
        margin-left: 20px;
    }
}
.clearfix:after{
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    content: '';
}
.bababa {
    color: #bababa;
}
.signin a, .signin a:visited, .signin a:active{
    color: #bababa;
    text-decoration: none;
}
.top-row {
    padding-top: 14px;
    padding-bottom: 14px;
}
.container-thin-top{
    border-bottom: 1px solid #bababa;
}
.tagcloud a{
    background-color: #72d5cd;
    font-size: 11px !important;
    float: left;
    padding: 5px 10px;
    margin-right: 7px;
    margin-top: 7px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.tagcloud a:active, .tagcloud a:visited{
    color: #fff;
    text-decoration: none;
}
div.widget.col-sm-3 > ul{
    list-style-type: none;
}
div.widget.col-sm-3 > ul li::before{
    content: '>';
    font-weight: bold;
}
/*//////////////////////////TOP MENU///////////////////////////////////////////*/
.fly_menu{
    background-color: #fff;
    width: 100%;
    font-weight: bold;
}
.fly_menu_in_fly{
    position: fixed;
    top:0;
    z-index:10000;
    animation: dinamicHeight 1200ms;
    padding-top: 15px;
    padding-bottom: 10px;
}
.fly_menu_in_stay{
    position: static;
    padding-top: 30px;
    padding-bottom: 25px;
}
@keyframes dinamicHeight {
    0% {padding-top: 30px;
        padding-bottom: 25px;}
    100%{    padding-top: 15px;
        padding-bottom: 10px;}
}
ul.primary_menu > li:after{
    content: "•";
    margin-right: 15px;
    margin-left: 15px;
}
ul.primary_menu > li:last-child:after {
    content: "";
}
ul.primary_menu > li{
    text-transform: uppercase;
    display: inline-block;
}
ul.primary_menu li{
    position: relative;
    color: #7f7f7f;
}
ul.primary_menu li ul{
    display: none;
    position: absolute;
    list-style-type: none;
    z-index: 1000;
    width: 100%;
}
ul.primary_menu a, ul.primary_menu a:visited, ul.primary_menu a:active {
    text-decoration: none;
    color: #7f7f7f;
    letter-spacing: 2px;
}
ul.primary_menu li ul a:hover{
    color:#fff;
}
ul.primary_menu {
    list-style-type: none;
}
ul.primary_menu li ul li{
    text-transform: none;
    background-color: #1F1F1F;
    padding: 15px;
}
ul.primary_menu li ul li:not(:last-child){
    border-bottom: 1px solid #bababa;
}
.sub-menu .menu-item-has-children li{
}
/*////////////////////////////////////////////////////////////////////////////////*/
.tweets_container{
    text-align: center;
    background-color: #72D5CD;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}
.tweets_container li{
    font-size: 25px;
    padding: 20px 10px;
}
.tweets_title{
    font-size: 35px;
}
.tweets-control{
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #68B9B2;
    padding: 2px 14px;
    margin: 0px 5px;
    cursor: pointer;
}
.content_widget{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #bababa;
}
.content_widget a, .content_widget a:active, .content_widget a:visited{
    text-decoration: none;
}
footer div.widget.col-sm-3 > ul li{
    border-bottom: 1px solid #bababa;
    padding-bottom: 10px;
    padding-top: 10px;
}
footer a, footer a:visited, footer a:active{
    color: #bababa;
    text-decoration: none;
}
footer a:hover{
    color: #fff;
    text-decoration: none;
}
footer{
    background-color: #262626;
    color: #bfbfbf;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #bababa;
}
.copy{
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: #0F0F0F;
    color: #828282;
    font-weight: bold;
}
ul[data-last-tweet] li {
    position: relative;
}